<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <span>ETF Demo</span>
    <span class="mx-auto"><!-- Spacer --></span>
    <button mat-button (click)="fileUploader.click()">
        <mat-icon>add</mat-icon>
        Upload
    </button>
</mat-toolbar>
<div *ngIf="chartResults" class="w-100" [style.height]="chartHeight">
    <ngx-charts-bar-horizontal-2d #chart
                                [results]="chartResults"
                                [xAxis]="true"
                                [yAxis]="true"
                                [yAxisTickFormatting]="format">
    </ngx-charts-bar-horizontal-2d>
</div>

<input #fileUploader type="file" accept="text/csv" multiple hidden (change)="upload(fileUploader.files)">
