<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <img class="mr-3" src="assets/logo.png" height="36px" width="auto">
    <span>ETF Demo</span>
    <span class="mx-auto"><!-- Spacer --></span>
    <mat-chip-list class="mr-2">
        <mat-chip *ngFor="let file of files" color="primary">{{file}}</mat-chip>
    </mat-chip-list>

    <button mat-button (click)="fileUploader.click()">
        <mat-icon>add</mat-icon>
        Upload
    </button>
</mat-toolbar>
<img *ngIf="!chartResults" class="float-right mt-2 mr-5" src="assets/starthere.png">
<div *ngIf="chartResults" class="w-100" [style.height]="chartHeight">
    <ngx-charts-bar-horizontal-2d #chart
                                [results]="chartResults"
                                [xAxis]="true"
                                [yAxis]="true"
                                [xAxisTickFormatting]="format">
    </ngx-charts-bar-horizontal-2d>
</div>
<input #fileUploader type="file" accept="text/csv" multiple hidden (change)="upload(fileUploader.files)">
