@import url('https://fonts.googleapis.com/css?family=Archivo|Material+Icons');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    font-family: 'Archivo', sans-serif;
}

.content-height {
    height: calc(100vh - 64px);
}

.w-50 {
    width: 50%;
}

// Bootstrap overrides
.text-muted {
    color: #bbbbbb !important;
}
